@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-div {
  width: 40rem;
  border: 1px solid gray;
  padding: 1rem;
  color: white;
  background-color: rgb(56, 133, 235);
  text-align: center;
  border-radius: 5px;
}

.counter-div > * {
  margin-bottom: 2rem;
}

.counter-div hr {
  color: white;
}

.count {
  font-size: 4rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.buttons button {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: 1px solid gray;
  outline: none;
  border-radius: 4px;
}

.sub {
  background-color: orangered;
}

.reset {
  background-color: blue;
}

.add {
  background-color: rgb(141, 211, 37);
}
